#gmaps {
    width: 450px;
    height: 450px;
}

ng-map
{
    height: 400px; 
}

.ng-isolate-scope
{
    width: 95%;
}


.preloader
{
    position: absolute;
    top: 50%;
    left:50%;
}

.subTabContainer
{
    
    width: 100%;
    padding-top: 11%;
}
.header
{
    background-color:#0AB3D3;
    color: aliceblue;
}
.boxpannel{
    background-color:#2B3B3E;
    color: aliceblue;
}
#subhead{
   color: aliceblue;  
}

body
{
  background-color:#272727;
     color: aliceblue;  
    
}
svg text {
    fill: white;
}

.nvtooltip
{
    background-color:#272727;
    border-color: aliceblue;
}

.tabs{
  
    color:aliceblue;
}

.customSearch
{   
   color: #272727; 
}



