<h4 class="col-md-6 col-md-offset-3">Forecast city {{city}}
<hr/></h4>

 

<div ng-show="isPageLoaded" ng-animate="'animate'">

    <div class = "col-md-6 col-md-offset-3">    
        <ul class="nav nav-tabs ">
            <li ng-repeat="tab in tabs" 
                ui-sref-active="active"
                ui-sref = "{{tab.stateName}}"
                ><a data-toggle="tab" class="tabs" href="">{{tab.title}}</a></li>
        </ul>
    </div>
    
    <div class="subTabContainer">
        <div ui-view></div>
    </div>
    
</div>

<div class="preloader" ng-hide="isPageLoaded">
    <img ng-src = 'images/preloader.gif'/>
</div>

