<div id="chartContainer" class="col-md-6 col-md-offset-3" >
    <nvd3-line-chart 
            data="exampleData"
            id="exampleId"
            width="700"
            height="600"
            showXAxis="true"
            showYAxis="true"
            tooltips="true"
            interactive="true"                     
            showLegend="true"
            useInteractiveGuideline="true"
            margin="{left:50,top:0,bottom:0,right:50}"
            xAxisTickValues="dates"                        
            xAxisTickFormat="xAxisTickFormat()"
            >
     
    </nvd3-line-chart>
</div>